/* PRIMARY COLOR */
.limeGreen {
  color: #1DB489;
}

.brightRed {
  color: #DC414C;
}

.facebook {
  color: #198FF5;
}

.twitter {
  color: #1CA0F2
}

.youtube {
  color: #C4032A
}

.instagram {
  background: linear-gradient(#FDC468, #DF4996);
}

/* DARK THEME*/
.dark-background {
  background-color: #1E202A;
}

.dark-veryDarkBlue {
  background-color: #1F212E;
}

.dark-cardBackground {
  background-color: #252A41;
}

.dark-text {
  color: #8B97C6;
}

.dark-whiteText {
  color: #FFFFFF;
}

.dark-toggle {
  background: linear-gradient(#378FE6, #3EDA82);
}

/* LIGHT THEME*/
.light-background {
  background-color: #FFFFFF;
}

.light-veryPaleBlue {
  background-color: #F5F7FF;
}

.light-cardBackground {
  background-color: #F0F2FA;
}

.light-text {
  color: #63687E;
}

.light-darkText {
  color: #1E202A;
}

p {
  font-size: 14px;
}

@font-face {
  font-family: "Inter";
  src: url("../src/fonts/Inter.ttf");
}